body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Russo One", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 150px;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0.5; /* Уменьшаем яркость видео */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 4;
}

.header img {
  height: 40px;
}

header nav {
  display: flex;
  gap: 100px;
}

header nav a {
  color: white;
  text-decoration: none; /* Убираем подчеркивание */
}

header nav a:hover {
  color: #b5c8d6; /* Изменение цвета текста при наведении */
  text-decoration: underline; /* Добавление подчеркивания при наведении */
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none; /* Убираем подчеркивание */
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 10px 0 0;
}

p {
  font-size: 18px;
  margin: 10px 0 0;
}

.answertext {
  font-size: 18px;
  margin: 0;
}

.why-section {
  padding: 50px 0;
  text-align: center;
}

.why-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.why-section h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #d9d6d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  flex: 1 1 calc(25% - 40px);
  max-width: calc(25% - 40px);
  min-width: 200px;
  margin: 20px;
}

.card img {
  width: 50%;
  height: auto;
  padding: 40px;
}

.card h4 {
  font-size: 18px;
  margin: 15px 15px;
}

.calc-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #d9d6d3;
  color: black;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.calc-button.show {
  opacity: 1;
}

/*QWIZ*/
.header-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  background-color: #dfd9cf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; /* Фиксация блока у верхней части страницы */
  z-index: 10;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar.operator-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9800;
  margin-bottom: 10px;
}

.call-button {
  padding: 10px;
  background-color: transparent;
  color: #1a2c4a;
  border: none;
  width: 100%;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.welcome-text {
  font-size: 18px;
  color: #1a2c4a;
  margin-left: 20px;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.chat {
  margin-top: 20px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.operator-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9800;
  margin-right: 10px;
  overflow: hidden; /* Скрываем части изображения, выходящие за границы контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Изображение будет обрезано, чтобы заполнить контейнер */
}

.message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  position: relative;
  margin-left: 50px;
  color: #1a2c4a;
}

.message::before {
  position: absolute;
  top: -6px;
  left: -2px;
  z-index: 1;
  height: 10px;
  width: 10px;
  content: "";
  background-color: #f1f1f1;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  transform: rotate(66deg);
}

.options {
  margin-top: 10px;
}

.first {
  max-width: 180px;
}

.options button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #f1f1f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #1a2c4a;
}

.image {
  width: 150px;
  height: 100px;
}

input[type="text"],
input[type="tel"] {
  width: 96%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.final-screen {
  padding: 10px;
}

.user-answer {
  color: #1a2c4a;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.user-answer .message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  position: relative;
  margin-left: 50px;
}

.user-answer .message::before {
  content: none; /* Убираем псевдоэлемент */
}

.popup {
  display: none; /* Скрываем по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding: 10px;
    margin-top: 150px;
  }

  h2 {
    font-size: 20px;
    padding: 10px;
  }

  .logo {
    width: 100px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 10px 0;
  }

  .container {
    width: auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .calc-button {
    width: 80px;
    height: 80px;
    font-size: 12px;
  }

  .header-block {
    flex-direction: column;
  }

  .progress-bar {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .promo {
    padding: 10px;
  }

  .start-screen {
  }

  .start-screen .text-container {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .start-screen img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .start-screen .start-button {
    position: static;
    transform: none;
    margin-top: 20px;
  }

  .welcome-text {
    text-align: center;
  }

  .options {
    text-align: center;
  }

  input[type="text"],
  input[type="tel"] {
    width: 92%;
  }
}

@media (max-width: 480px) {
  .promo {
    padding: 10px;
  }

  .start-screen .start-button {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }

  .start-screen .start-button::after {
    font-size: 20px;
  }

  .welcome-text {
    text-align: center;
  }

  .options {
    text-align: center;
  }
}
